<?xml version="1.0" encoding="UTF-8"?>
 <Configuration status="WARN"><!-- 这个status是控制系统信息的输出级别 -->
  <Appenders>
  	<Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
<!-- <RollingFile name="RollingFile" fileName="${sys:catalina.home}/ZhongLiangTongBuShangPinHeWuLiulogs/rolling.log"
                 filePattern="${sys:catalina.home}/ZhongLiangTongBuShangPinHeWuLiulogs/app_%d{yyyy-MM-dd-HH}_%i.log"> --><!-- 将日志信息写入日志文件 -->
      <RollingFile name="RollingFile" fileName="./logs/rolling.log" filePattern="./logs/app_%d{yyyy-MM-dd-HH}_%i.log">
      
      <PatternLayout>
        <Pattern>%d{MM-dd-yyyy HH:mm:ss.SSS} %p %c{1.} [%t] %m%n</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="1000KB"/>
      </Policies>
      <!-- <DefaultRolloverStrategy fileIndex="max" max="2"/> -->
    </RollingFile>
  </Appenders>
  <Loggers>
  	  <Logger name="com.you_fuli.spiderFilm" level="trace">
       <AppenderRef ref="Console"/>
	  </Logger>
    <Root level="error">
      <AppenderRef ref="RollingFile"/>
    </Root>
  </Loggers>
</Configuration>